*{
	margin:0;
	padding:0;
}

body{
	color:#777;
	background:url('../img/page_bg.jpg') #e7e7e7;
	font:15px Calibri,Arial,sans-serif;
}

/* Styling the page */

#page{
	width:890px;
	margin:20px auto;
}

#topBar{
	height:41px;
	margin-bottom:15px;
}

#promoIMG{
	background:url('../img/640x480mentorize_png.png') no-repeat;
	height:632px;
	margin-bottom:15px;
	text-align:center;
}

#promoIMG img{
	margin-top:80px;
}

#contentArea{
	overflow:hidden;
	padding-bottom:10px;
}

#contentArea p{
	background-color:#FFFFFF;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:1px 0 0 1px;
	float:left;
	height:120px;
	margin-right:15px;
	overflow:hidden;
	padding:20px;
	width:465px;
	
	-moz-box-shadow:1px 1px 0 #bbb;
	-webkit-box-shadow:1px 1px 0 #bbb;
	box-shadow:1px 1px 0 #bbb;
}

#contentArea p img{
	float:left;
	margin:-15px 20px 0 0;
}

#promoIMG,
#contentArea p{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
}

/* Hyperlink styles */

a, a:visited {
	text-decoration:underline;
	outline:none;
	color:#4086c7;
}

a:hover{
	border-bottom:1px dashed transparent;
	text-decoration:none;
}